*.pyc
.vscode/* 
!.vscode/ltex.dictionary.en-US.txt
!.vscode/ltex.disabledRules.en-US.txt
!.vscode/ltex.hiddenFalsePositives.en-US.txt
.DS_STORE
.ipynb_checkpoints
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
/temperature-microbial-communities-main
test.ipynb
venv/
package-lock.json
node_modules/
package.json
[zotero "betterbibtex"]
push = false